<div>
  <div><h3>Create dishes</h3></div>
  <div style='padding:10px;' class='create-dish-form'>
    <mat-form-field style="width: 100%;">
      <mat-select matNativeControl required placeholder="Select Supplier">
        <mat-option value="TML">TML Restaurant</mat-option>
        <mat-option value="HKT">HKT Restaurant</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field  style="width:100%;">
      <input matInput placeholder="Dish type" required>
    </mat-form-field>
    <mat-form-field  style="width:100%;">
      <input matInput placeholder="Dish name" required>
    </mat-form-field>
    <mat-form-field  style="width:100%;">
      <input matInput placeholder="Dish description" required>
    </mat-form-field>
    <mat-form-field style="width:50%;">
      <input matInput placeholder="Price" required>
    </mat-form-field>
    <mat-form-field style="width: 50%;">
      <mat-select [(value)]='defaultValue' placeholder="Currency">
        <mat-option value="VND">VND</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
      <mat-select placeholder="Dish Tag">
        <mat-option value="TML">Beef</mat-option>
        <mat-option value="HKT">Pizza</mat-option>
      </mat-select>
    </mat-form-field>
    <div style=''><button id="savebutton" mat-button>Save</button></div>
  </div>
</div>
