<div class="container-fuild-dashboard">
  <div class="dishescontainer">
    <div (click)='openDialog()' style='text-align: center;' class="dishes">
      <img class='none' src="../../assets/button_new.png" alt="">
      <div class="dishesdescription">
        <span class="dishesname" style='color: silver;'>New dish</span>
      </div>
    </div>
    <div class="dishestag"> Pizza </div>
    <div class="dishes">
      <img src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
      <div class="dishesdescription">
        <span class="dishesname">Cheese burger super big size</span>
        <span class="dishessupplier">HKT Restaurant</span>
      </div>
    </div>
    <div class="dishes">
      <img src="https://images.foody.vn/res/g10/90677/prof/s640x400/foody-mobile-buzza-pizza-jpg-194-636123115822885005.jpg" alt="">
      <div class="dishesdescription">
        <span class="dishesname">Pizza</span>
        <span class="dishessupplier">HKT Restaurant</span>
      </div>
    </div>
  </div>
  <div class="dishescontainer">
    <div class="dishestag"> Beef </div>
    <div class="dishes">
      <img src="https://www.sbs.com.au/food/sites/sbs.com.au.food/files/styles/full/public/images/6465_10-broome-satay.jpg?itok=fPKEDrKd" alt="">
      <div class="dishesdescription">
        <span class="dishesname">Broome Beef</span>
        <span class="dishessupplier">HKT Restaurant</span>
      </div>
    </div>
    <div class="dishes">
      <img src="https://thucthan.com/media/2018/07/beefsteak/cach-lam-beefsteak.jpg" alt="">
      <div class="dishesdescription">
        <span class="dishesname">American Beefsteak</span>
        <span class="dishessupplier">HKT Restaurant</span>
      </div>
    </div>
    <div class="dishes">
      <img src="https://food.fnr.sndimg.com/content/dam/images/food/fullset/2011/7/26/1/IG1B11_beef-bourguignon_s4x3.jpg.rend.hgtvcom.616.462.suffix/1384540894086.jpeg" alt="">
      <div class="dishesdescription">
        <span class="dishesname">Beef Bourguignon</span>
        <span class="dishessupplier">HKT Restaurant</span>
      </div>
    </div>
  </div>
</div>
