<app-headernavbar></app-headernavbar>
<div class="container-fuild-dashboard">
  <div class="main-body-loading" *ngIf="loading">
    <mat-spinner [diameter]='50' ></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <div class="filtering-options">
      <div class="filter-button">FILTER BY:</div>
      <div class="filter-button" *ngFor="let search of supplier_search" style="background-color: white; height: 20px; font-weight: 400">
        {{search}}
      </div>
      <div class="filter-button" *ngFor="let search of tag_search" style="background-color: white; width:30px; font-weight: 400">
        {{search}}
      </div>
      <div (click)="clear_search()" *ngIf="supplier_search.length || tag_search.length" class="filter-button" style="cursor: pointer;background-color: white; width:30px; font-weight: 400"> Clear all </div>
      <div class="filter-button" style='cursor: pointer;float: right;' (click)="openDialog()">CREATE NEW DISH</div>
    </div>
    <div style="display: flex;width: 100%" class="dishescontainer">
      <!-- <div (click)='openDialog()' style='text-align: center; padding:10px 30px 10px 30px;' class="dishes">
        <img style='opacity: 0.8;' src='../../assets/insert-picture-icon.png' alt="">
        <div>
          <span class="dishesname" style='color: silver;font-weight: 300'>New dish</span>
        </div>
      </div> -->
      <div style="flex:1.5;border-right :0.5px solid rgb(190, 190, 190);">
        <div class="dishestag"> Suppliers </div>
        <section style="padding-left:10px;margin-top:10px;" class="example-section">
          <mat-selection-list #shoes>
            <mat-list-option *ngFor="let supplier of all_supplier" [selected]="checkStateSupplier(supplier.value.code)" (click)="addSupplierNameToSearch(supplier.value.code)">
              {{supplier.value.name}}
            </mat-list-option>
          </mat-selection-list>
        </section>
        <div class="dishestag"> Tags </div>
        <section style="padding-left:10px;margin-top:10px;" class="example-section">
          <mat-selection-list #shoes>
            <mat-list-option *ngFor="let tag of all_dish_tag" [selected]="checkStateTag(tag.value)" (click)="addTagNameToSearch(tag.value)">
              {{tag.value}}
            </mat-list-option>
          </mat-selection-list>
        </section>
      </div>
      <div style="flex:8;margin-left: 20px">
        <div class="dishes" *ngFor="let dish of all_dish" (click)="openDialog(dish)">
          <img style='padding:0 30px 0 30px' *ngIf="dish.value.image_URL === 'http://127.0.0.1:3001/img/insert-picture-icon.png'" src={{dish.value.image_URL}}>
          <img *ngIf="dish.value.image_URL !== 'http://127.0.0.1:3001/img/insert-picture-icon.png'" src={{dish.value.image_URL}}>
          <div class="dishesdescription">
            <span class="dishesname">{{dish.value.dish_name}}</span>
            <span class="dishessupplier">{{dish.value.supplier_name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
