<div>
  <h3>Order Details - TML - Friday, April 21</h3>
  <div class='detail-table'>
    <div class="table">
      <div>
        <table id="customers">
          <tr>
            <th>Cus Name</th>
            <th>On Behalf</th>
            <th>Dish Name</th>
            <th>Quantity</th>
            <th>Unit Amount</th>
            <th>Total Amount</th>
            <th></th>
          </tr>
          <tr>
            <td>Mr - Dupire</td>
            <td>None</td>
            <td>Cheese Burgur Big Size</td>
            <td>1</td>
            <td>120,000 VND</td>
            <td>120,000 VND</td>
            <td><img src="../../assets/delete.svg"></td>
          </tr>
          <tr>
            <td>Mr - Dupire</td>
            <td>None</td>
            <td>Cheese Burgur Big Size</td>
            <td>1</td>
            <td>120,000 VND</td>
            <td>120,000 VND</td>
            <td><img src="../../assets/delete.svg"></td>
          </tr>
        </table>
      </div>
    </div>
    <div style='width:100%'>
      <span><button (click)='openDialog()' mat-button>Create new order</button></span>
      <span style='float: right;'><button cdkFocusInitial (click)='sendOrder()' id="savebutton" mat-button>Send</button></span>
    </div>
  </div>
</div>
