<div>
  <h3>Order Details - {{data['data'].value.supplier_code}} - {{data['data'].value.order_day_word}}, {{data['data'].value.order_month}} {{data['data'].value.order_day}}</h3>
  <div class='detail-table'>
    <div class="table">
      <div>
        <table id="customers">
          <tr>
            <th>Cus Name</th>
            <th>On Behalf</th>
            <th>Dish Name</th>
            <th>Quantity</th>
            <th>Unit Amount</th>
            <th>Total Amount</th>
            <th></th>
          </tr>
          <tr *ngFor="let item of all_user_order">
            <td>{{item.value.user_name}}</td>
            <td>{{item.value.on_behalf_of_customer}}</td>
            <td>{{item.value.dish_name}}</td>
            <td>{{item.value.quantity}}</td>
            <td>{{item.value.unit_price}} VND</td>
            <td>{{item.value.quantity * item.value.unit_price}} VND</td>
            <td><img (click)="delete_order(item.key)" src="../../assets/delete.svg"></td>
          </tr>
        </table>
      </div>
    </div>
    <div style='width:100%'>
      <span><button (click)='openDialog()' mat-button>Create new order</button></span>
      <span style='float: right;'><button cdkFocusInitial (click)='sendOrder()' id="savebutton" mat-button>Send</button></span>
    </div>
  </div>
</div>
