<app-headernavbar></app-headernavbar>
<div class="container-fuild-dashboard">
    <div class="main-body-loading" *ngIf="loading">
      <mat-spinner [diameter]='50' ></mat-spinner>
    </div>
    <div class="main-body" *ngIf="!loading">
      <!-- <div *ngFor="let item of data">
        {{item.key}}
      </div> -->
      <div class="table">
        <table id="customers">
          <tr>
            <th>Date</th>
            <th>Supplier</th>
            <th>Order ID</th>
            <th>Total Amount</th>
            <th>Sent on</th>
          </tr>
          <tr (click)="popupOrderInfo(item)" *ngFor="let item of all_order">
            <td>{{item.value.order_day_word}}, {{item.value.order_month}} {{item.value.order_day}}</td>
            <td>{{item.value.supplier_code}}</td>
            <td>1525000{{item.value.order_id}}</td>
            <td>{{item.value.total_amount}} VND</td>
            <td *ngIf="!item.value.sent_date" id=active><button><i class="fas fa-share-square"></i> Send now ?</button></td>
            <td *ngIf="item.value.sent_date"> {{item.value.sent_date}} </td>
          </tr>
          <!-- <tr>
            <td>Friday, Aprirl 20</td>
            <td>KFC Restaurant</td>
            <td>930234</td>
            <td>648,902 VND</td>
            <td>Friday, Aprirl 19</td>
          </tr>
          <tr>
            <td>Friday, Aprirl 19</td>
            <td>HKT Restaurant</td>
            <td>930232</td>
            <td>1,648,902 VND</td>
            <td>Friday, Aprirl 19</td>
          </tr>
          <tr>
            <td>Friday, Aprirl 18</td>
            <td>KFC Restaurant</td>
            <td>930234</td>
            <td>648,902 VND</td>
            <td>Friday, Aprirl 18</td>
          </tr> -->
        </table>
      </div>
    </div>
  </div>
