<div class="container-fuild-dashboard">
    <div class="main-body-loading" *ngIf="loading">
      <mat-spinner [diameter]='50' ></mat-spinner>
    </div>
    <div class="main-body" *ngIf="!loading">
      <div class="supplierswrapper">
        <div class="suppliersdiv" *ngFor="let item of data">
          <div style="padding: 20px">
            <img height=150px; src="../../assets/logo.png">
          </div>
          <div>
            <p>{{item.value}}</p>
          </div>
        </div>
        <div class="suppliersdiv">
          <div style="padding: 20px">
            <img height=150px; src="../../assets/button_new.png">
          </div>
          <div>
            <p style="color: silver">New supplier</p>
          </div>
        </div>
      </div>
    </div>
  </div>
