<app-headernavbar></app-headernavbar>
<div class="container-fuild-dashboard">
    <div class="main-body-loading" *ngIf="loading">
      <mat-spinner [diameter]='50' ></mat-spinner>
    </div>
    <div class="main-body" *ngIf="!loading">
      <div class="supplierswrapper">
        <div class="suppliersdiv" *ngFor="let item of data" mat-raised-button (click)="openDialog(item)">
          <div style="padding: 20px">
            <img style="height: 150px;max-width: 150px;" src={{item.value.image_URL}}>
          </div>
          <div>
            <p>{{item.value.name}}</p>
          </div>
        </div>
        <div mat-raised-button (click)="openDialog()" class="suppliersdiv">
          <div style="padding: 20px">
            <img height=150px; src="../../assets/button_new.png">
          </div>
          <div>
            <p style="color: silver">New supplier</p>
          </div>
        </div>
        <div class="chart-wrapper">
          <div class="chart-left-side">
            <google-chart style="width: 100%;min-height: 300px;" [columnNames]="orderAmountColumnName" [data]="supplierOrderAmount" [type]="myType" [options]="myOptions" [dynamicResize]="dynamicResize"></google-chart>
          </div>
          <div class="chart-right-side">
            <google-chart style="width: 100%;min-height: 300px;" [columnNames]="totalOrderColumnName" [data]="supplierDishes" [type]="myType" [options]="myOptions" [dynamicResize]="dynamicResize"></google-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
