.container-fuild-dashboard {
  background-color: #efefef;
  width: 100%;
  height: calc(100% - 100px);
}

.main-body-loading {
  height: 100%;
  position: fixed;
  top: calc( 50% - 25px );
  left: calc( 50% - 25px );
}

.main-body{
  display:flex;
  justify-content: center;
  padding: 10px;
  height: 100%;
}

.orderday {
  display: inline-block;
  height: 30px;
  width: calc(100% / 7);
  vertical-align: top;
  background-color: white;
  font-size:12px;
  font-weight: 500;
  text-align: center;
  border-bottom :3px solid rgb(70, 70, 70);
}

.calendarwrapper {
  width: 700px;
  max-height: 500px;
  background-color: white;
  padding :20px;
}

.favoritewrapper {
  white-space: nowrap;
  max-width: 600px;
  max-height: 500px;
  background-color: white;
  padding :20px;
  overflow:scroll;
}

#small {
  margin-left: 10px;
  min-width: 300px;
  max-width: 300px;
  overflow: hidden;
}

.orderdaynumber {
  position:relative;
  display:inline-block;
  height: 65px;
  width: calc((100% - 14px * 10) / 7);
  margin :10px;
  vertical-align: top;
  background-color: white;
  font-size:12px;
  text-align: center;
}
.oderdaywrapper {
  margin-top: 10px;
}

.favoriteheader {
  display: flex;
  font-weight: 500;
  font-size: 15px;
  background-color: white;
  border-bottom: 2px solid silver;
}

.favoritecontent {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
}

.favoritecontentfix {
  display: flex;
}

.favoritecontentfix_new {
  display: flex;
  margin: 20px;
}

.foodshowwrapper {
  order: 1;
}

.testflex {
  display: flex;
  flex-direction: column;
  text-align: center;
}

ul {
  height: 100%;
}

li {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.first {
  font-size: 15px;
  font-weight: 500;
}
.first span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 140px;
  white-space: nowrap;
}
.second {
  font-size: 12px;
  font-weight: 400;
}

.third {
  font-size: 14px;
  font-weight: 500;
}

.favoritefoodshowcontainer {
  height: calc(100% - 40px);
  /* overflow: scroll; */
  min-height: 60px;
  background: white;
  border-radius: 4px;
  /* overflow: hidden; */
  display: block;
}

@media screen and (max-width: 800px) {
  .main-body {
    display:inline-block;
    height: 100%;
  }
  .calendarwrapper {
    width: 100%;
  }
  .favoritewrapper {
    display: inline-block;
    vertical-align: top;
  }
  #small {
    margin: 0;
    margin-top : 15px;
    min-width: 100%;
    max-width: 300px;
    overflow: hidden;
  }
  .orderday {
    display: inline-block;
    height: 30px;
    width: calc(100% / 7);
    vertical-align: top;
    background-color: white;
    font-size:12px;
    font-weight: 500;
    text-align: center;
    border-bottom :3px solid rgb(70, 70, 70);
  }
  .orderdaynumber {
    display: inline-block;
    font-weight: 800;
    height: 35px;
    width: calc((100%) / 7);
    margin :0px;
    vertical-align: top;
    font-size:14px;
    /* border :1px solid white; */
    text-align: center;
  }
}
.orderdaybutton {
  background-color: white;
  padding: 0;
  width: 100%;
  height: 100%;
  /* background-color: red; Green */
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom :0.1px solid rgb(145, 144, 144);
}

.orderdaybutton:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transition-duration: 0.2s;
  transform: scale(1.1);
}

.mat-button#savebutton{
  justify-content: center;
  background-color: #4286f4;
  color: white;
}

.flex-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.flex#left-side {
  width: 50%;
  height: 100%;
}

.flex#right-side {
  width: 50%;
  height: 100%;
}

.search-field {
  width: 100%;
}

.mat-pseudo-checkbox {
  position: relative;
}
/* Calendar */

.topright {
  visibility: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
}

.orderdaynumber-disable {
  display: inline-block;
  height: 65px;
  width: calc((100% - 14px * 10) / 7);
  margin :10px;
  vertical-align: top;
  font-size:12px;
  text-align: center;
}

.orderdaynumber-disable .orderdaybutton {
  /* background-color: rgb(243, 243, 243); */
  border-bottom :0.1px solid rgb(218, 218, 218);
}

.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
  display: none !important;
}
