<!-- <h1 mat-dialog-title><p>Pick dish for May, {{data.orderDay}}</p></h1>
<div mat-dialog-content>
  <div style='max-height: 400px'>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search your food" value="Sushi">
    </mat-form-field>
    <mat-selection-list style='width: 400px;' #shoes>
      <mat-list-option style="height:100px;" *ngFor="let shoe of data.typesOfShoes" [value]='shoe'>
        <div class="favoritecontent">
          <img height=70  px src="../../assets/burger.jpg">
          <ul>
            <li class="first"><span>Burger Cheese Big Size</span></li>
            <li class="second"><span>HKT Restaurant</span></li>
            <li class="third"><span>Orders : 290 times</span></li>
          </ul>
        </div> -->
        <!-- <img height='80px' width='80px' src='../../assets/vegan-nacho-pizza-photo.jpg'>{{shoe}} -->
      <!-- </mat-list-option>
    </mat-selection-list>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button id="savebutton" mat-button (click)="onSave(shoes)" cdkFocusInitial>Save</button>
</div> -->


<!-- Copyright 2019 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
<div class="flex-container">
  <article class="flex" id="left-side">
    <h1 mat-dialog-title><p>Pick dish for May, {{data.orderDay}}</p></h1>
    <div mat-dialog-content>
      <div style='max-height: 400px'>
        <mat-form-field class="search-field">
          <input (keyup)="onKeyUp($event)" matInput [(ngModel)]="myTextarea" placeholder="Search your food" type="foodsearch">
        </mat-form-field>
        <mat-selection-list style='width: 400px;min-height: 330px;' #shoes>
          <mat-list-option style="height:100px;" (click)="test(data.orderDay, dish)" *ngFor="let dish of dishescom" [value]='dish'>
            <div class="favoritecontent">
              <img height=70  px src="../../assets/burger.jpg">
              <ul>
                <li class="first"><span>{{dish.value.dish_code}}</span></li>
                <li class="second"><span>{{dish.value.supplier_code}}</span></li>
                <li class="third"><span>Orders : {{dish.value.popularity}} times</span></li>
              </ul>
            </div>
          </mat-list-option>
        </mat-selection-list>
      </div>
      <button mat-button (click)="openDialogCreateDish()">Create new dish</button>
    </div>
  </article>
  <article class="flex" id="right-side">
    <h3>Your Order</h3>
    <div style='min-height: 400px'>
      <div *ngFor="let dish of dishuserchoose | keyvalue">
          <div class="favoritecontent">
            <img height=70  px src="../../assets/burger.jpg">
            <ul>
              <li class="first"><span>{{dish.value.value.dish_code}}</span></li>
              <li class="third"><span>Quantity <img src='../../assets/decrease.svg' (click)="removeAdded(dish.key)">{{dish.value.quantity}}<img src='../../assets/increase.svg' (click)="addMore(dish.key)"></span></li>
              <li class="second">
                <span>
                    <mat-form-field style="width:100%;">
                      <input matInput placeholder="Order for" [(ngModel)]="dish.value.onbehalf">
                    </mat-form-field>
                </span>
              </li>
            </ul>
          </div>
      </div>
    </div>
    <div mat-dialog-actions style='display:flex;justify-content: flex-end;'>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button id="savebutton" mat-button (click)="onSave(shoes)" cdkFocusInitial>Save</button>
    </div>
  </article>
</div>
