/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
body {
	margin: 0;
	height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background: #4286f4;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#hihi .mat-pseudo-checkbox {
  display: none !important;
}
